/* src/styles/Experience.css */
.container.experience {
  background-color: #ffffff; /* White background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 100%; /* Use the full width of the viewport */
  /* margin: 12vh auto; */
  color: #000; /* Black text */
  margin-top: 50px;
  }
  
h1.title {
  color: #ff69b4; /* My Melody Pink */
  font-size: 1rem;
  margin: 1vh 0;
}

/* Update the color for headings and paragraphs as needed */
h2 {
  color: #000; /* Black text */
  font-size: 1.5rem;
  margin-top: 20px;
}

.container p {
  font-size: 24px;
  margin-bottom: 10px;
}

ul {
  text-align: left;
  font-size: 18px;
  margin-bottom: 10px;
}
  