/* Reset some default styles */
body, h1, h2, p, a {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  /* background-color: #fce6e6;  */
  color: #333;
  margin: 0;
  padding: 0;
}

.main {
  max-width: 80vw; /* Wider content container */
  margin: 6vh auto;
  padding: 20px;
}

header {
  text-align: center;
  padding: 20px 0;
}

.main h1 {
  font-size: 4rem;
  color: #ff66b2; /* Pink color */
}

.main h2 {
  margin-top: 15px;
}

p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.about {
  margin-top: 20px;
  max-width: 50vw;
}

.portfolio {
  margin-top: 20px;
  display: grid;
  justify-content: center;
}

/* Portfolio button styling as a mini navbar */
.portfolio-buttons {
  display: flex;
  /* width: 50vw; */
  justify-content: center;
  align-items: center;
  background-color: #ff66b2; /* Pink background color for the buttons */
  padding: 10px; /* Adjust the padding */
  border-radius: 10px;
  max-width: fit-content;

}

.portfolio-buttons button {
  background: none;
  border: none;
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
  margin: 0 10px; /* Add some spacing between buttons */
  transition: transform 0.3s;
}

.portfolio-buttons button:hover{
  color: white;
  transform: scale(1.2);
}

/* Updated styles for the project list */
.project-list {
  width: 50vw;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(auto-fit, minmax(400px, 30%));
  grid-auto-rows: 1fr;
  justify-content: center;
  gap: 2rem 1rem;
  margin-top: 20px;
  padding: 20px; /* Add padding around the project list */
  background-color: white; /* White background for projects */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Drop shadow for cards */
}

@media screen and (max-width: 1000px) {
  .project-list {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .project {
    width: 100%;
    height: auto;
  }
}

.project-list > h2 {
  font-size: 1.4rem;
  grid-column: 1 /-1;
}

.project {
  max-width: fit-content;
  height: auto;
  background-color: #ff66b2; /* Pink color */
  border-radius: 8px;
  padding: 20px;
  /* margin: 20px; */
  color: white; /* White text color */
  justify-self: center;
}

.project h3 {
  font-size: 1.2rem;
}

.project .p {
  font-size: 1rem;
  color: white;
}

.project ul {
  font-size: 1rem;
}

.project a {
  display: block;
  margin-top: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

.project a:hover {
  text-decoration: underline;
}
