.navbar {
  background-color: #ff69b4; /* My Melody Pink */
  display: flex;
  justify-content: center;
  padding: 15px 0;
  position: fixed; /* Set the position to fixed */
  top: 0; /* Stick it to the top of the screen */
  left: 0;
  right: 0;
  width: 100%; /* Make the navbar span the full width of the viewport */
  height: auto;
  z-index: 100;
}

.navbar-link {
  color: #fff; /* White text */
  text-decoration: none;
  margin: 0 10px;
  font-size: 2rem;
  transition: transform 0.3s; /* Smooth transition for transform */
}

/* Add a hover effect with text expansion */
.navbar-link:hover {
  color: #fff; /* White text */
  transform: scale(1.2); /* Slightly expand the text on hover */
}
